body {
  background-color: #f3f6f9; /* Professional grey background */
  font-family: 'Inter', sans-serif;
}

.footer {
  position: fixed; /* Fixed footer */
  bottom: 0;
  width:100%;
  height: 40px;
  background-color: #ffffff;
  border-top: 1px solid #e1e1e1;
  text-align: center;
  line-height: 40px;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0,0,0,.08);
}